body {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: image(black);
    
}

.container {
    background-color: #1a1a1a; /* Fondo oscuro para el contenedor */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

h1 {
    color: #007bff; /* Azul para el título */
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #007bff; /* Azul para las etiquetas */
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #007bff; /* Borde azul */
    border-radius: 4px;
    background-color: #333; /* Fondo oscuro para los inputs */
    color: #fff; /* Texto blanco */
}

button {
    background-color: #007bff; /* Fondo azul para el botón */
    color: #fff; /* Texto blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}

a {
    color: #007bff; /* Azul para el enlace */
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}